div.main{
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  
}
div.nav-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: space-around; */
  /* justify-content: center; */
  height: 100vh;
  width: 650px;
  position: sticky;
  top: 0px;    /*  sticky form the very beginning height */
  background-color: rgb(18, 80, 72);
  color: rgb(255, 255, 255);
}
div.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}


/* @media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column; 
    
  }
  .nav-bar{
    display: flex;
    flex-direction: row;
  }
  .nav{
    display: flex;
    flex-direction: row;
  }
} */


.nav>h3{
  height: 20px;
  width: 150px;
  /* padding-left: 20px; */
  /* text-align: center; */
}
.nav>h3:hover,a:hover{
  /* float: right; */
  color: white;
  font-size: 20px;
  /* background-color: rgb(130, 255, 197); */
  border-radius: 5%;
  cursor: pointer;
  
}

div.content{
  display: flex;
  flex-grow: 1;    /* taking rest of the body part for content */
  flex-direction: column;
  
  
}
/* div.bg{
  
  height: 100vh;
  width: 100% auto;
  background-image: url(./web_dp.jpg);
  
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  right: 0px;
  left: 22%;   
  top:0px;
} */

.dp{
  /* padding: 20px; */
  border-radius: 100%;
  border: 5px rgb(147, 65, 255) solid;
  margin: 20px;
  
}
div.nav-bar>h2{
  font-size: 25px;
  padding-left: 20px;
}
h2.dp_caption>span{
  color: rgb(255, 255, 255);
  font-size: 15px;
}


